.topSpace {
  margin-top: 18%;
}

.topSpace25 {
  margin-top: 5%;
}

.successMsg {
  text-align: center;
  font-size: 25px;
  color: rgb(11, 138, 106);
}
.myrsaMainBtn {
  width: 25rem;
  height: 7rem;
  font-size: 2rem;
}

body {
  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#studentDetails {
  color: white;
}

.studentItem {
  margin-top: 10px;
}

input {
  text-align: center;
}
